////////////////////////////////////////////////////////////////////////////////////////////////////////
//Form
.form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 2rem;
  align-items: stretch;
  &__row{
    display: flex;
    position: relative;
  }
}

.form-style{
  display: flex;
    flex-direction: column;
    min-height: 18rem;
    padding: 1rem;
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    margin-bottom: 5rem;
    @media only screen and (max-width: $bp-large) {
      padding: 0;
      width: auto;
    }

  & h2{
  	background: var(--color-grey-dark-1);
  	text-transform: uppercase;
  	color: var(--color-grey-light-1);
  	font-size: 1.8rem;
  	font-weight: 100;

  }
    &__inputs{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    &-subinput{
      width: 100%;
      margin-top: 4.5rem;
      border-top: 1px solid;
      padding-top: 2rem;
    }
    &-border{
      border: 1px solid var(--color-grey-dark-1);
      padding: 3rem;
    }
      &-input {
    outline: none;
    display: block;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 1.5rem;
    margin-right: 5rem;
    &-title{
      width: 100%;
      font-weight: 700;
      font-size: 3rem;
    }
    &-question{
      width: 30%;
      font-weight: 100;
      font-size: 2rem;
      border-bottom: none;
    }
    &-answer{
      width: 30%;
      font-weight: 100;
      font-size: 2rem;
    }
    &-dropbtn{
      outline: none;
      display: block;
      padding: 0;
      border: none;
      background: transparent;
      margin-bottom: 0;
      margin-right: 0;
      padding-left: 8rem;
      width: 30%;
      height: auto;
      & .dropdown {
        box-shadow: none;
        &:hover .dropbtn{
          background-color: var(--color-grey-dark-1);
        }
        .dropbtn {
          color: var(--color-grey-dark-1);
          border: 1px solid #ddd;
          &:hover{
            background-color: var(--color-grey-dark-1);
          }
        }
        &-content-item {
          color: var(--color-grey-dark-1);

          &:hover{
            color: var(--color-grey-light-1);
            background-color: var(--color-grey-dark-1);
          }
        }
      }
    }
    &-radio-buttons{
      display: flex;
      position: relative;
      border-bottom: none;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 30%;
      &-button{
        font-size: 1.5rem;
        }
      &-choose{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }
      }
      &-numbers {
        display: flex;
        position: relative;
        border-bottom: none;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 30%;
        &-choose{
          width: 100%;
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }
        &-answer{
          font-size: 1.5rem;
          margin-bottom: 0;
          margin-right: 0;
        }
      }

    }
    & textarea{
    	resize:none;
    	overflow: hidden;
    }
    &-delete-button{
      position: absolute;
      top: 0;
      right: 1rem;
      cursor: pointer;
      user-select: none;
      transition: all .3s;
      font-size: 1.5rem;
      &:hover{
        color: var(--color-grey-dark-1)
      }
    }
  }
  &__row{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

}



//////////////////////////////////////////////////////////////////////////////////
////// Dropdown

.dropdown {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    & .dropbtn {
     transition: all .3s;
     user-select: none;
    }
    &:hover .dropdown-content {
    display: block;
  }
  &:hover .dropbtn {
   background-color: var(--color-primary-light);
   color: var(--color-grey-light-1);
 }
 & .dropbtn {
   font-size: 1.6rem;
   border: none;
   outline: none;
   color: var(--color-grey-light-1);
   padding: 1.4rem 1.6rem;
   background-color: inherit;
   font-family: inherit; /* Important for vertical align on mobile phones */
   margin: 0; /* Important for vertical align on mobile phones */
 }
}
.dropdown-content {
display: none;
position: absolute;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
min-width: 10rem;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
left: 44px;
  &-item {
    color: var(--color-grey-light-1);
    display: block;
    text-align: left;
    font-size: 1.1rem;
    transition: all .3s;
    &:hover{
    background-color: var(--color-primary-light);
    }
  }
}
