////////////////////////////////////////////////////////////////////////////////////////////////////////
//Form
.form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 2rem;
  align-items: stretch;
  &__row{
    display: flex;
    position: relative;
  }
}

.form-style{
  display: flex;
    flex-direction: column;
    min-height: 18rem;
    padding: 1rem;
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    margin-bottom: 5rem;
    @media only screen and (max-width: $bp-large) {
      padding: 0;
      width: auto;
    }

    &__inputs{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    &-container{
      flex-wrap: wrap;
          align-items: stretch;
          width: 75%;
          display: flex;
          margin-bottom: 1rem;
          margin-top: 1rem;
          border-bottom: 1px solid var(--color-grey-light-4);
          padding-bottom: 5rem;
    }
    &-subinput{
      width: 100%;
    }
    &-border{
      border: 1px solid var(--color-grey-dark-1);
      padding: 3rem;
      margin-bottom: 2rem;
      z-index: 3;
    }
      &-input {
    outline: none;
    display: block;
    padding: 7px;
    border: none;
    background: transparent;
    margin-bottom: 1.5rem;
    margin-right: 5rem;

    &-title{
      width: 100%;
      font-weight: 700;
      font-size: 3rem;
      &-notfirst{
        width: 100%;
        font-weight: 700;
        font-size: 3rem;
      }
    }
    &-question-asked{
      width: 100%;
      font-weight: 700;
      font-size: 3rem;
    }
    &-question{
      width: 50%;
      font-weight: 100;
      font-size: 2rem;
      border: none;
      padding: 7px;
      outline: none;

    }
    &-radio-buttons{
      display: flex;
      position: relative;
      border-bottom: none;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 30%;
      &-button{
        font-size: 1.5rem;
        }
      &-choose{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }
      }
      &-numbers {
        display: flex;
        position: relative;
        width: 35%;
        margin-top: 1.5rem;
        border-bottom: none;
        flex-wrap: wrap;
        &-choose{
          margin-bottom: 1rem;
          font-size: 1.5rem;
          margin-right: 1rem;
        }
        &-answer{
          margin-right: 1rem;
          width: 30%;
          font-size: 1.5rem;
        }
        &-select{
          margin-right: 1rem;
        }
      }

    }
    & textarea{
    	resize:none;
    	overflow: hidden;
    }
    &-delete-button{
      position: absolute;
      top: 0;
      right: 1rem;
      cursor: pointer;
      user-select: none;
      transition: all .3s;
      font-size: 1.5rem;
      &:hover{
        color: var(--color-grey-dark-1)
      }
    }
    &__dropdown{
      position: relative;
      margin-top: 3rem;
      z-index: 2;
      &-dropbutton{
        position: absolute;
        left: 50%;
      }
      &-content{
        &-item{

        }
      }
    }
  }
  &__row{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
  }

}

//////////////////////////////////////////////////////////////////////////////////
////// slider-menu

.slider-menu{
  background: var(--color-grey-dark-1);
  text-transform: uppercase;
  color: var(--color-grey-light-1);
  font-size: 1.8rem;
  font-weight: 100;
  position: relative;
  width: 100%;
  height: 4rem;
  display: flex;
    &__placeholder{
      background: var(--color-grey-dark-1);
      height: 4rem;
      width: 9.5rem;
      left: 5rem;
      z-index: 1000;
      position: absolute;
    }
    &__checkbox{
      display: none;
    }

   &__checkbox:checked ~ &__item-container {
     width: 100%;
     opacity: 1;
   }

   &__checkbox:checked + &__button &__icon::after {
     transform: rotate(0deg);
   }



    &__button{
      color: var(--color-grey-light-1);
      min-width: 5rem;
      min-height: 100%;
      position: relative;
      cursor: pointer;
      transition: all .2s;
        &:hover{
          background: var(--color-primary-light);
        }
        &:active{
          background: var(--color-primary);
        }

      }

    &__icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2rem;
      height: 2px;
      background-color: var(--color-grey-light-1);
      display: inline-block;
      user-select: none;

        &::after{
          content: '';
          width: 2rem;
          height: 2px;
          position: absolute;
          top:0;
          left:0;
          transform: translate(-50%, -50%);
          background-color: var(--color-grey-light-1);
          display: inline-block;
          transform: rotate(90deg);
          user-select: none;
          transition: all .05s ;
          }
    }

    &__item-container{
      position: relative;
      width: 0;
      opacity: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      overflow: hidden;
      transition: all .5s ;
    }

    &__item{
      display: block;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      overflow: hidden;
    }

}
