@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input {
  outline: none; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 2.8rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  text-align: center;
  padding-top: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-wrap: wrap;
      align-items: space-around;
      height: 11rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column;
      margin: 0; } }

.noInput {
  display: none;
  opacity: hidden; }

.fullWidth {
  position: relative;
  width: 100%; }

.relative-container {
  position: relative;
  width: 100%; }

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 2rem;
  align-items: stretch; }
  .form-container__row {
    display: flex;
    position: relative; }

.form-style {
  display: flex;
  flex-direction: column;
  min-height: 18rem;
  padding: 1rem;
  background: #FFFFFF;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  margin-bottom: 5rem; }
  @media only screen and (max-width: 68.75em) {
    .form-style {
      padding: 0;
      width: auto; } }
  .form-style__inputs {
    display: flex;
    position: relative;
    flex-wrap: wrap; }
    .form-style__inputs-container {
      flex-wrap: wrap;
      align-items: stretch;
      width: 75%;
      display: flex;
      margin-bottom: 1rem;
      margin-top: 1rem;
      border-bottom: 1px solid var(--color-grey-light-4);
      padding-bottom: 5rem; }
    .form-style__inputs-subinput {
      width: 100%; }
    .form-style__inputs-border {
      border: 1px solid var(--color-grey-dark-1);
      padding: 3rem;
      margin-bottom: 2rem;
      z-index: 3; }
    .form-style__inputs-input {
      outline: none;
      display: block;
      padding: 7px;
      border: none;
      background: transparent;
      margin-bottom: 1.5rem;
      margin-right: 5rem; }
      .form-style__inputs-input-title {
        width: 100%;
        font-weight: 700;
        font-size: 3rem; }
        .form-style__inputs-input-title-notfirst {
          width: 100%;
          font-weight: 700;
          font-size: 3rem; }
      .form-style__inputs-input-question-asked {
        width: 100%;
        font-weight: 700;
        font-size: 3rem; }
      .form-style__inputs-input-question {
        width: 50%;
        font-weight: 100;
        font-size: 2rem;
        border: none;
        padding: 7px;
        outline: none; }
      .form-style__inputs-input-radio-buttons {
        display: flex;
        position: relative;
        border-bottom: none;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 30%; }
        .form-style__inputs-input-radio-buttons-button {
          font-size: 1.5rem; }
        .form-style__inputs-input-radio-buttons-choose {
          width: 100%;
          margin-bottom: 1rem;
          font-size: 1.5rem; }
      .form-style__inputs-input-numbers {
        display: flex;
        position: relative;
        width: 35%;
        margin-top: 1.5rem;
        border-bottom: none;
        flex-wrap: wrap; }
        .form-style__inputs-input-numbers-choose {
          margin-bottom: 1rem;
          font-size: 1.5rem;
          margin-right: 1rem; }
        .form-style__inputs-input-numbers-answer {
          margin-right: 1rem;
          width: 30%;
          font-size: 1.5rem; }
        .form-style__inputs-input-numbers-select {
          margin-right: 1rem; }
    .form-style__inputs textarea {
      resize: none;
      overflow: hidden; }
    .form-style__inputs-delete-button {
      position: absolute;
      top: 0;
      right: 1rem;
      cursor: pointer;
      user-select: none;
      transition: all .3s;
      font-size: 1.5rem; }
      .form-style__inputs-delete-button:hover {
        color: var(--color-grey-dark-1); }
    .form-style__inputs__dropdown {
      position: relative;
      margin-top: 3rem;
      width: 25%;
      display: flex;
      flex-direction: column; }
      .form-style__inputs__dropdown-iconbox {
        height: 2rem; }
      .form-style__inputs__dropdown-dropbutton {
        position: absolute;
        left: 25%;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        width: 13rem;
        -webkit-transition: all .2s;
        transition: all .2s;
        top: -1.2rem; }
      .form-style__inputs__dropdown-checkbox {
        opacity: 0;
        position: absolute; }
      .form-style__inputs__dropdown-dropbutton:hover ~ .form-style__inputs__dropdown-content {
        opacity: 1;
        z-index: 2; }
      .form-style__inputs__dropdown-dropicon {
        font-size: 1.4rem;
        user-select: none; }
      .form-style__inputs__dropdown-content {
        display: flex;
        z-index: -90;
        opacity: 0;
        margin-top: 1rem;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        height: 11rem;
        font-size: 1.5rem;
        margin-left: 4.5rem;
        transition: opacity .3s; }
        .form-style__inputs__dropdown-content:hover {
          opacity: 1;
          z-index: 2; }
        .form-style__inputs__dropdown-content-item {
          box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.08);
          width: 81%;
          transition: all .2s;
          cursor: pointer;
          display: block;
          user-select: none; }
          .form-style__inputs__dropdown-content-item:hover {
            background-color: var(--color-primary);
            color: var(--color-grey-light-1);
            transform: scale(1.1); }
          .form-style__inputs__dropdown-content-item:focus, .form-style__inputs__dropdown-content-item:active {
            transform: translateY(0.5rem); }
  .form-style__row {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem; }

.slider-menu {
  background: var(--color-grey-dark-1);
  text-transform: uppercase;
  color: var(--color-grey-light-1);
  font-size: 1.8rem;
  font-weight: 100;
  position: relative;
  width: 100%;
  height: 4rem;
  display: flex; }
  .slider-menu__placeholder {
    background: var(--color-grey-dark-1);
    height: 4rem;
    width: 9.5rem;
    left: 5rem;
    z-index: 1000;
    position: absolute; }
  .slider-menu__checkbox {
    display: none; }
  .slider-menu__checkbox:checked ~ .slider-menu__item-container {
    width: 100%;
    opacity: 1; }
  .slider-menu__checkbox:checked + .slider-menu__button .slider-menu__icon::after {
    transform: rotate(0deg); }
  .slider-menu__button {
    color: var(--color-grey-light-1);
    min-width: 5rem;
    min-height: 100%;
    position: relative;
    cursor: pointer;
    transition: all .2s; }
    .slider-menu__button:hover {
      background: var(--color-primary-light); }
    .slider-menu__button:focus, .slider-menu__button:active {
      background: var(--color-primary-dark); }
  .slider-menu__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2px;
    background-color: var(--color-grey-light-1);
    display: inline-block;
    user-select: none; }
    .slider-menu__icon::after {
      content: '';
      width: 2rem;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      background-color: var(--color-grey-light-1);
      display: inline-block;
      transform: rotate(90deg);
      user-select: none;
      transition: all .05s; }
  .slider-menu__item-container {
    position: relative;
    width: 0;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    transition: all .5s; }
  .slider-menu__item {
    display: block;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    overflow: hidden; }
